<div class="col-lg-2 btn-group-vertical">
  <div class="panel panel-primary">    
    <div class="list-group">
        <a class="list-group-item" (click)="changeMarkerStatus($event.target)">Show Markers</a>
        <a class="list-group-item" (click)="changeCity($event.target)">Go to Sydney</a>
    </div>
  </div>
</div>
<div class="col-lg-7">
  <div class="panel panel-primary">
    <sebm-google-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="true">
      <sebm-google-map-marker
        *ngFor="let m of markers"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [visible]="visible"
        [iconUrl]="emojiFace[m.senti]">
        <sebm-google-map-info-window [disableAutoPan]="true">
          <p class="tweet-style">{{m.text}}</p>          
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
      <sebm-map-polygon
        *ngFor="let p of paths"
        [paths]="p['path']"
        [fillColor]="'#FF0000'"
        [strokeColor]="'#FF0000'"
        [fillOpacity]="0.4"
        [strokeWeight]="1"
        (polyClick)="polygonClicked(p['region'])">
      </sebm-map-polygon>  
    </sebm-google-map>
  </div>
</div>
<div class="col-lg-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{polyInfo.region_name}}</h3>
    </div>
    <div class="panel-body">
      <div [ngStyle]="{'display': polyInfo.template}">
        Click a polygon to get some cool info!
      </div>
      <div [ngStyle]="{'display': polyInfo.info}">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">{{polyInfo.epi_desc}}</span>
              <em>EPI Description:</em>
          </li>
          <li class="list-group-item">
            <span class="badge">{{polyInfo.evi_desc}}</span>
              <em>EVI Description:</em>
          </li>
          <li class="list-group-item">
            <span class="badge">{{polyInfo.obese_info}}%</span>
              <em>Proportion of Obese people:</em>
          </li>
          <li class="list-group-item">
            <span class="badge">{{polyInfo.overwt_info}}%</span>
              <em>Proportion of Overweight People:</em>
          </li>          
          <li class="list-group-item">
            <span class="badge">{{polyInfo.smokers_info}}%</span>
              <em>Proportion of smokers:</em>
          </li>
          <li class="list-group-item">
            <span class="badge">{{polyInfo.alcohol_info}}%</span>
              <em>Proportion of people consuming high level of alcohol:</em>
          </li>
          <li class="list-group-item">
            <span class="badge">{{polyInfo.family_income}}$ per week</span>
              <em>Median family income:</em>
          </li>
          <li class="list-group-item">
            <span class="badge">{{polyInfo.indi_income}}$ per week</span>
              <em>Median individual income:</em>
          </li>
          <li class="list-group-item">
            <span class="badge">{{polyInfo.median_rent}}$ per week</span>
              <em>Median rent:</em>
          </li>
          <li class="list-group-item">
            <span class="badge">{{polyInfo.avg_taxable_income}}$ per annum</span>
              <em>Average taxable income:</em>
          </li>          
        </ul>
      </div>
    </div>
  </div>
</div>