<div class="col-lg-1 btn-group-vertical">
    <button type="button" class="btn btn-primary" (click)="changeMarkerStatus($event.target)">Show Markers</button>
    <button type="button" class="btn btn-warning" (click)="changeCity($event.target)">Sydney</button>
</div>
<div class="col-lg-7">
  <sebm-google-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="true">
    <sebm-google-map-marker
      *ngFor="let m of markers"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [visible]="visible">
      <sebm-google-map-info-window [disableAutoPan]="true">{{m.senti}}</sebm-google-map-info-window>
    </sebm-google-map-marker>
    <sebm-map-polygon
      *ngFor="let p of paths"
      [paths]="p['path']"
      [fillColor]="'#FF0000'"
      [strokeColor]="'#FF0000'"
      [fillOpacity]="0.4"
      [strokeWeight]="1"
      (polyClick)="polygonClicked(p['region'])">
    </sebm-map-polygon>  
  </sebm-google-map>
</div>
<div class="col-lg-4">
</div>